

html, body {
  height: 100%;
}

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #282c34; /* Example background color */
  color: white; /* Text color */
  padding: 2rem; /* Using rem for consistent padding */
  position: fixed; /* Keeps header at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Ensures the header stays on top */
}

main {
  margin-top: 10vh; /* 10% of the viewport height */
}

